.container
  width 1200px
  
header
  height 80px
  background #efefef
  .phone
    color #6f6f6f
    font-size 14px
    font-weight bold
  ul
    list-style none
    li
      float left
      margin-left 40px
      a
        color #adadad
        &:hover
          color #6f6f6f
      .active
        color #6f6f6f