.container
  width 1200px
  
header
  height 80px
  background #efefef
  ul
    list-style none
    li
      float left
      margin-left 20px
      a
        color #dddddd
        &:hover
          color #aaaaaa
      .active
        color #aaaaaa